GitPython
aicli
PyYAML
requests
setuptools-rust
wheel
paramiko==2.12.0
tenacity
gspread
oauth2client
jinja2
kubernetes
python-hosts
argcomplete
yq
git+https://github.com/thom311/ktoolbox@3159f67841efc1ee5b7d82c1173218326f3ef380
