apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: vsp-p4
spec:
  selector:
    matchLabels:
      app: vsp-p4
  template:
    metadata:
      labels:
        app: vsp-p4
    spec:
      nodeSelector:
        dpu: "true"
      hostNetwork: true
      containers:
      - name: my-container
        image: {{ipu_vsp_p4}}
        securityContext:
          privileged: true
        volumeMounts:
        - name: lib-modules
          mountPath: /lib/modules/
        - name: var-run
          mountPath: /opt/p4/p4-cp-nws/var/run
        - name: sys
          mountPath: /sys
        - name: dev
          mountPath: /dev
      volumes:
      - name: lib-modules
        hostPath:
          path: /lib/modules/
      - name: var-run
        hostPath:
          path: /opt/p4/p4-cp-nws/var/run
      - name: sys
        hostPath:
          path: /sys
      - name: dev
        hostPath:
          path: /dev
