apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: vsp
spec:
  selector:
    matchLabels:
      name: vsp
  template:
    metadata:
      labels:
        name: vsp
    spec:
      hostNetwork: true
      automountServiceAccountToken: false
      containers:
      - name: appcntr1
        image: {{ipu_plugin_image}}
        securityContext:
          privileged: true
        command: [ "/usr/bin/ipuplugin" ]
        args: [ "--bridgeType=linux", "--interface=enp0s1f0d3", "--portMuxVsi=0x0e", "--ovsCliDir=/opt/p4/p4-cp-nws", "-v=debug"]
        volumeMounts:
        - name: vendor-plugin-sock
          mountPath: /var/run/dpu-daemon/
        - name: host-opt
          mountPath: /opt/p4
          mountPropagation: Bidirectional
      volumes:
      - name: host-opt
        hostPath:
          path: /var/lib/containers/storage/volumes/data1/_data/
      - name: host-libmodules
        hostPath:
          path: /lib/modules
          type: DirectoryOrCreate
      - name: vendor-plugin-sock
        hostPath:
          path: /var/run/dpu-daemon/
