apiVersion: sriovnetwork.openshift.io/v1
kind: SriovNetworkNodePolicy
metadata:
  name: {{policyName}}
  namespace: openshift-sriov-network-operator
spec:
  resourceName: {{resourceName}}
  nodeSelector:
    node-role.kubernetes.io/dpu-host: ""
  priority: 99
  numVfs: {{numVfs}}
  nicSelector:
    vendor: "15b3"
    deviceId: "a2d6"
    pfNames: ['{{bf_port}}']
    rootDevices: ['0000:{{bf_addr}}']
