apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ pv_name }}
spec:
  capacity:
    storage: {{ storage_size }}
  volumeMode: Filesystem
  accessModes:
  - ReadWriteMany
  persistentVolumeReclaimPolicy: Delete
  storageClassName: local-hostpath
  local:
    path: {{ storage_path }}
{% if node_affinity %}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
{% for expression in node_affinity %}
        - key: "{{ expression.key }}"
          operator: "{{ expression.operator }}"
{% if expression.get('values') %}
          values:
{% for value in expression.values %}
          - "{{ value }}"
{% endfor %}
{% endif %}
{% endfor %}
{% endif %} 