apiVersion: sriovnetwork.openshift.io/v1
kind: SriovNetworkNodePolicy
metadata:
  name: sriov-node-policy
  namespace: openshift-sriov-network-operator
spec:
  deviceType: netdevice
  eSwitchMode: "switchdev"
  nicSelector:
    pfNames:
      {%- for line in pfNamesAll %}
        - {{ line -}}
      {% endfor %}
  nodeSelector:
    feature.node.kubernetes.io/network-sriov.capable: "true"
  numVfs: 12
  priority: 5
  resourceName: mlxnics
